@import 'styles/colors.scss';

.container {
  display: flex;
  flex-direction: row;
  padding: 3em;
}

.container>h1 {
  font-weight: 'bold';
  font-family: 'IBM Plex Mono';
  color: $dark-blue;
}

.editor {
  width: 50%;
  margin: 1em;
}

.preview {
  width: 50%;
  margin: 4em 1em;
}
