@import 'styles/colors.scss';

.container {
  display: flex;
	align-items: center; 
  width: 100%;
	height: 100%; 
}

.editor {
  width: 100%;
	height: 100%; 
	border: 1px solid black; 
  margin-right: 1em;
}

.preview {
	border: 1px solid black; 
  width: 100%;
	height: 100%; 
	padding: 1em; 
	overflow: scroll;
}
