@import 'styles/colors';
@import '~fontsource-ibm-plex-mono/index.css';
@import '~fontsource-source-sans-pro/index.css';

html,
body {
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
}


* {
  box-sizing: border-box;
  font-family: Cantarell;
}

a {
  color: black;
  text-decoration: none;
}

.CodeMirror { 
	height: 100% !important; 
}

.EasyMDEContainer { 
	height: 100% !important; 
}
